
{{ partial "head.html" . }}
        {{ if or .Site.Params.navigation.links.about .Site.Params.navigation.links.projects .Site.Params.navigation.links.portfolio .Site.Params.navigation.links.contact }}
            {{ partial "nav.html" . }}
        {{ end }}

        {{ if .Site.Params.hero }}
            {{ partial "hero.html" . }}
        {{ end }}

        {{ if .Site.Params.about }}
            {{ partial "about.html" . }}
        {{ end }}

        {{ if .Site.Params.projects.list }}
            {{ partial "projects.html" . }}
        {{ end }}

        {{ if .Site.Data.projects }}
            {{ partial "portfolio.html" . }}
        {{ end }}

        {{ if .Site.Params.aside }}
            {{ partial "aside.html" . }}
        {{ end }}

        {{ if .Site.Params.contact }}
            {{ partial "contact.html" . }}
        {{ end }}

        {{ if .Site.Params.location }}
            {{ partial "location.html" . }}
        {{ end }}

        {{ if .Site.Data.projects }}
            {{ partial "modals.html" . }}
        {{ end }}

{{ partial "footer.html" . }}
