{{ partial "head.html" . }}
<!-- List page -->
{{ partial "linktotop.html" . }}

<section id="list">
    <div class="container">
        <div class="text-center">
            <h2>Members</h2>
        </div>

        <div class="container-fluid">
            <div class="row no-gutter">
                {{ range .Site.Data.members }}
                <div class="col-lg-3 col-sm-4 col-xs-6 col-md-3">
                    <img src="/img/members/{{ .img }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <!-- <div class="portfolio-box-caption-content">
                            {{ .name }}
                        </div> -->
                        <div class="bg-primary">
                            <p margin="auto">{{ .name }}</p>
                        </div>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>


<!-- <section class="no-padding">

</section> -->
{{ partial "footer.html" . }}
